<nav class="navbar navbar-expand-lg  bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-bg-dark " href="#">ISSUE TRACKER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        {%   if request.user.is_authenticated and request.user.is_superuser %} 
        <li class="nav-item">
          <a class="nav-link active text-bg-dark" aria-current="page" href="{% url "basepage" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-bg-dark" aria-current="page" href="{% url "mycartpage" %}">Mycart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-dark " href=" {% url "taskdetailspage" %}">Create Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-dark " href=" {% url "accountpage" %}">Add Coin</a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-bg-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{request.user.username|capfirst}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url "userprofilepage" %}">Show Profile</a></li>
              <li><a class="dropdown-item" href="{% url "changepasswordpage" %}">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url "logoutpage" %}">Logout</a></li>
            </ul>
            {% elif request.user.is_authenticated   %} 
            <li class="nav-item">
          <a class="nav-link active text-bg-dark" aria-current="page" href="{% url "basepage" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-bg-dark" aria-current="page" href="{% url "mycartpage" %}">Mycart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-dark " href=" {% url "taskdetailspage" %}">Create Task</a>
        </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-bg-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{request.user.username|capfirst}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url "userprofilepage" %}">Show Profile</a></li>
              <li><a class="dropdown-item" href="{% url "changepasswordpage" %}">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url "logoutpage" %}">Logout</a></li>
            </ul>
            {% else %}
            <li class="nav-item">
              <a class="nav-link text-bg-dark" href=" {% url "loginpage" %}">Login</a>
             
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link text-bg-dark " href=" {% url "registerpage" %}">Register</a>
          </li>
          </li>
        {% endif %}
        </ul>
       
      </div>
    </div>
  </nav>